@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-red-hat), sans-serif;
  --font-mono: var(--font-funnel), sans-serif;
  --color-blue: #166CC8;
  --color-light-blue: #2986cc;
  --color-alt-blue: #668CFF;
  --color-dark-blue: #16537e;
  --color-darker-blue: #00497D;
  --color-yellow: #f1c232;
  --color-light-yellow: #ffd966;
  --color-light-gray: #f5f5f5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-red-hat), sans-serif;
  font-size: 16px;
}

.funnel-text {
  font-family: var(--font-funnel);
}

.concert-background {
  background-image: url('/stock/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mcr-background {
  background-image: url('/stock/mcr_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@layer components {
  .title {
    @apply text-5xl text-blue font-semibold ml-2;
    font-family: var(--font-funnel);
  }

  .inputForm {
    @apply border-2 rounded-2xl p-2 mb-4 border-blue text-dark-blue;
  }

  .inputOk {
    @apply border-2 border-darker-blue bg-darker-blue text-white rounded-2xl p-2 font-semibold;
  }

  .inputLabel {
    @apply font-medium pb-1;
  }

  .growButton {
    @apply transition-all duration-300 hover:scale-105;
  }

  .footer-section{
    @apply w-60;
  }

  .options-list{
    @apply pl-5 pr-5 pt-3 pb-3;
  }
}

